<div class="m-4" class="text-center">
  <h1>Reversi</h1>
  <h2>Következő játékos: {{ playerMeta[currentPlayer].name }} | Pontok: {{ gameState.scores[currentPlayer] }}</h2>

  @switch (gameState.progress) { @case ('draw') { Döntetlen! } @case ('progressing') { Progressing! } @default {
  <h3>Győztes: {{ playerMeta[gameState.progress].name }} | Pontok: {{ gameState.scores[gameState.progress] }}</h3>
  } } @if (alert) {
  <div class="alert alert-danger"><strong>HIBA!</strong> {{ alert }}</div>
  }
  <button class="btn btn-primary" (click)="pass()">PASSZ</button>
  <button class="btn btn-primary" (click)="restart()">RESTART</button>
  <div id="field">
    @for (item of fields; track item) {
    <div class="row">
      @for (i of item; track i) {
      <app-field [field]="i" (clickFieldEvent)="clickField($event)" />
      }
    </div>
    }
  </div>
</div>
